.account{
    // margin-left: 20%;
    // width: 80%;
    // height: 100vh;
    // padding: 20px;

    .account-container{

        .acc-form-full{
            display: block;

            .acc-details-form{
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                text-align: left;

                .header-grp{
                    display: flex;
                    flex-direction: row;
                    margin-left: -3rem;
                    margin-bottom: 2rem;
                }

                .img-grp{
                    margin-bottom: 1.3rem;
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 50%;

                    .img-profile{
                    }
                }

                .profile-btn-grp{
                    margin-bottom: 2rem;
                }
                
                .input-grp{
                    margin-bottom: 2rem;

                    .input-field{
                        // width: 100%;
                    }
                    
                }
                @media screen and (max-width: 400px) {
                    .input-grp{
                        width: 100%;
    
                        .input-field{
                            width: 100%;
                        }
                        
                    }
                }

                .form-btn{
                    text-transform: none;
                    margin-bottom: 2rem;
                }

                div{
                    .task-list{
                        .todo-tasks{
                            .task-box{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-bottom: 10px;
                                border-radius: 5px;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);

                                .task-text{
                                    display: flex;
                                    flex-direction: row;

                                    .text{
                                        align-self: center;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                        .completed-tasks{
                            p{
                                margin-top: 2rem;
                            }
                            
                            .task-box{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-bottom: 10px;
                                border-radius: 5px;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);

                                .task-text{
                                    display: flex;
                                    flex-direction: row;
                                    
                                    .text{
                                        align-self: center;
                                        text-decoration: line-through;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.acc-modal{
    background-color: white;
    padding: 20px;
    width: 50%;
    height: 70%;
    border: 1px solid black;
    overflow-y: scroll;

    p{
        font-weight: bolder;
    }

    .p-btn-grp{
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        margin-top: 2rem;
    }

    .prof-image{
    }
}

@media screen and (max-width: 780px) {
    .acc-modal{
        width: 90%;
        height: 70%;
    }
}