.stats{

    .stats-container{
        
        .chart-container{

            .chart-1{
                margin-bottom: 4rem;

                .header-1{
                    font-weight: bolder;
                    font-size: 1.4rem;
                    margin-bottom: -2rem;
                }
            }

            .chart-2{
                margin-bottom: 2rem;

                .header-2{
                    font-weight: bolder;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}