.side-bar{
    height: 100vh;
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    position: absolute;

    .tabs-container{
        margin-top: 3.7rem;
        padding: 10px;

        h1{
            font-size: 2rem;
            font-weight: 450;
            margin-left: 10px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 2rem;
        }

        .btn-box{
            margin-bottom: 10px;
            padding: 15px;
            cursor: pointer;
            transition: 0.3s ease all;
            display: flex;
            flex-direction: row;
            border-radius: 5px;

            .tab-button{
                color: rgba(0, 0, 0, 0.733);
                align-self: center;
            }
            .tab-text{
                font-size: 16px;
                align-self: center;
                font-family: 'Roboto', sans-serif;
            }
        }

        .selected{
            background-color: rgba(128, 128, 128, 0.247);
        }

        .btn-box:hover{
            background-color: rgba(128, 128, 128, 0.247);
        }
    }
}