.login-screen{

    .login-container{
        h1{
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 3rem;
            font-size: 2rem;
            font-weight: bolder;
        }

        .login-form{
            display: block;
            text-align: center;

            form{
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                text-align: left;

                div{
                    .input{
                        margin-bottom: 2rem;
                        width: 350px;
                    }
                }

                .go-back{
                    color: black;
                    font-size: 14px;
                    font-weight: bolder;
                }
            }
        }
    }
}