.req-notif-box{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.098);
    margin-bottom: 1.6rem;
    border-radius: 10px;
    padding: 12px;
}

.req-title{
    font-size: 14px;
}

.resp-btn{
    margin-right: 1rem;
    text-transform: none;
}

.res-icon{
    font-size: 1.3rem;
    margin-left: 10px;
}

.feedback-notif-box{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.098);
    margin-bottom: 1.6rem;
    border-radius: 10px;
    padding: 12px;
}

.feedback-title{
    font-size: 14px;
}

.time-ago{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.notif-container{
    padding-left: 2rem;
    padding-right: 2rem;
}